<!DOCTYPE html>
<html>
<head>
  <title>Foundation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag "foundation/modernizr" %>
</head>
<body>
dsfsdfs
<%= yield %>

<script>
	$(document).foundation();
</script>

</body>
</html>
